.entry-content > * {
	--width--max: var(--width--content);

	margin-inline: auto;
	max-inline-size: min(100% - var(--width--site-gutter) * 2, var(--width--max));
}

.entry-content > .is-medium-width-content {
	--width--max: var(--width--content--medium);
}

.entry-content > .is-large-width-content {
	--width--max: var(--width--content--large);
}

.entry-content > .is-full-width-content {
	max-inline-size: none
}

.entry-content iframe {
  display: block;
  margin: var(--flow-space--medium) auto;
}