.grid {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: auto 1fr auto;
	min-height: 100dvh;
}

.grid__header {
	position: sticky;
	z-index: 1;
	inset-block-start: 0;
}

.grid__main,
.grid__footer {
	margin-block-start: var(--space-l);
}

@media (width > 900px) {
	.grid__main,
	.grid__footer {
		margin-block-start: var(--space-2xl);
	}
}

.wrapper {
	padding-inline: var(--space-s);
	max-inline-size: 900px;
	margin-inline: auto;
}