.media-element img {
	border-radius: 4px;
}

.media-element__caption {
	font-size: var(--step--1);
	font-style: italic;
	margin-block-start: var(--space-xs);
}

.media-element.is-full-width-content {
	& img {
		inline-size: 100%;
		max-inline-size: 100%;
		border-radius: 0;
	}

	& .media-element__caption {
		padding-inline: var(--width--site-gutter);
	}
}