---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Page not found">
	// TODO : styles
    <h1>Welp, this is awkward!</h1>
    <p>We seem to have misplaced something</p>
    <p>
        <a href="/">Go home</a>
    </p>
</Layout>
