---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="wrapper content-flow">
    <h1 class="title">About Groove Lab Media</h1>
    <h2>Fueling your digital rhythm — one groove at a time.</h2>

    <p>
      Welcome to Groove Lab Media, your sonic hub for the freshest in
      groove-based music and immersive digital storytelling. Whether you're into
      funk, soul, nu-disco, lo-fi, or any beat that gets your head nodding and
      heart thumping, Groove Lab is here to keep your playlist vibrant and your
      curiosity sparked.
    </p>

    <p>
      What started as a personal journey into discovering deeper, rhythm-driven
      sounds has grown into a digital space where music meets creativity. We
      spotlight underground gems, highlight rising artists, and dive into the
      cultural pulse behind the sounds.
    </p>

    <p>
      At Groove Lab Media, music isn’t just heard — it’s felt. Expect curated
      playlists, thoughtful features, visual experiments, and a genuine love for
      groove in all its forms.
    </p>

    <p>
      Join the lab. Find your rhythm :
      <!-- TODO: same as footer, reuse it ? -->
      <nav>
        <a target="_blank" href="https://www.instagram.com/groovelabmedia/">
          Instagram
        </a>
        <a target="_blank" href="/rss.xml">Subscribe to RSS</a>
      </nav>
    </p>
  </div>
</Layout>
