---
import TagsCloud from '../components/TagsCloud.astro';

const { tags } = Astro.props;
---
<div class="allTags">
	<div class="allTags-title">All tags :</div>
	<TagsCloud tags={tags} showCount={true} />
</div>
<style>
	.allTags-title {
		margin: 0;
		margin-block-end: var(--space-xs);
		color: var(--color--text);
		font-family: var(--font-family--sans-serif);
		font-optical-sizing: auto;
		font-size: var(--step-4);
		font-style: normal;
		font-weight: 800;
		text-wrap: pretty;
		line-height: 1.125;
	}
</style>