---
import TagsCloud from '../components/TagsCloud.astro';

const { tags } = Astro.props;
---
<div class="allTags wrapper">
	<div class="title">All tags :</div>
	<TagsCloud tags={tags} showCount={true} />
</div>
<style>
	.allTags {
		margin-block: var(--space-xl);
	}
</style>