---
import FormattedDate from '../components/FormattedDate.astro';

type Props = {
	author: String,
	pubDate: Date;
	updatedDate?: Date;
};

const { author, pubDate, updatedDate } = Astro.props;
---

<div class="article-metas">
	By <a class="article-metas__author">{author}</a> on
	<time class="article-metas__date" datetime="2024-01-12">
		Junuary 12, 2025
		<FormattedDate date={pubDate} />
	</time>
	{
		updatedDate && (
			<time class="article-metas__date">
				Last updated on <FormattedDate date={updatedDate} />
			</time>
		)
	}
</div>
<style>
	.article-metas {
		font-family: var(--font-family--sans-serif);
		font-size: var(--step--2);
	}

	.article-metas__author {
		font-weight: 600;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	.article-metas__date {
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
</style>