---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="grid__header">
	<div class="site-header">
		<nav class="site-header__wrapper">
			<a class="site-nav__link" href="/">{SITE_TITLE}</a>
			<nav class="site-nav">
				<ul class="site-nav__list">
					<li class="site-nav__item"><HeaderLink class:list={'site-nav__link'} href="/">Home</HeaderLink></li>
					<li class="site-nav__item"><HeaderLink class:list={'site-nav__link'} href="/tags">Tags</HeaderLink></li>
					<li class="site-nav__item"><HeaderLink class:list={'site-nav__link'} href="/about">About</HeaderLink></li>
				</ul>
			</nav>
		</nav>
	</div>
</header>
<style>
	.site-header {
		border-block-end: 1px solid var(--color--light-gray);
		background-color: var(--color--white);
	}

	.site-header__wrapper {
		display: flex;
		justify-content: space-between;
		padding-block: var(--space-s);
		padding-inline: var(--width--site-gutter);
		max-inline-size: var(--width--content--large);
		margin-inline: auto;
		font-family: var(--font-family--sans-serif);
		font-size: var(--step--1);
	}

	.site-nav__list {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-xs);
		justify-content: flex-end;
		list-style-type: '';
		padding: 0;
	}

	.site-nav__item {
		margin-block-start: 0;
		min-inline-size: 0;
		text-align: right;
	}

	.site-nav__link {
		color: var(--color--black);
		display: block;
		padding: var(--space-3xs);
		text-decoration: none;
	}

	.site-nav__item--logo {
		margin-inline-end: auto;
	}

	.site-nav__link--logo {
		padding: 0;
	}

	.site-nav__logo-img {
		display: block;
		block-size: clamp(2rem, 1.8261rem + 0.8696vi, 2.5rem);
		inline-size: clamp(2rem, 1.8261rem + 0.8696vi, 2.5rem);
	}
</style>
