---
import BlogList from './BlogList.astro';
const { posts, cssMod = '' } = Astro.props;
const htmlClasses = `bloglist ${cssMod}`; 
---
<div class="latestPosts">
	<div class="title wrapper">
		Latest posts :
	</div>
	<BlogList posts={posts} max>
</div>

<style>
	.latestPosts {
		margin-block: var(--space-xl);
	}
</style>