---
import BlogList from './BlogList.astro';
const { posts, cssMod = '' } = Astro.props;
const htmlClasses = `bloglist ${cssMod}`; 
---
<div class="latestPosts">
	<div class="latestPosts__title">
		Latest posts :
	</div>
	<BlogList posts={posts} max>
</div>

<style>
	.latestPosts {
		margin-block: var(--space-xl);
	}

	.latestPosts__title {
		margin: 0;
		margin-block-end: var(--space-xs);
		color: var(--color--text);
		font-family: var(--font-family--sans-serif);
		font-optical-sizing: auto;
		font-size: var(--step-4);
		font-style: normal;
		font-weight: 800;
		text-wrap: pretty;
		line-height: 1.125;
	}
</style>