---
import Button from "./Button.astro"
const { nav } = Astro.props
const { prev, next } = nav
---

<nav class="pagination" aria-label="Blog pages">
	{
		prev && (
			<Button isALink="true" href={prev} text="previous" startIcon="true"/>
		)
	}

	{
		next && (
			<Button isALink="true" href={next} text="next" endIcon="true" />
		)
	}
</nav>
<style>
	.pagination {
		display: flex;
		justify-content: center;
		gap: var(--space-s);
		margin-block-start: var(--space-2xl);
	}
</style>