---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import BlogList from '../../components/BlogList.astro';

const { tag } = Astro.props;

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	
	// Extract unique categories from the posts
	const categories = [...new Set(posts.map((post) => post.data.tag))];

	// Generate paths for each tag
	return categories.map((tag) => ({
		params: { slug: tag }, // Use the tag as the slug
		props: { tag },        // Pass the tag as a prop
	}));
}

// Filter posts by the current tag
const posts = (await getCollection('blog')).filter((post) => post.data.tag === tag);
---
<Layout>
	<h1>Posts by tag {tag}</h1>
	<section class="blog">
		<BlogList {posts} />
	</section>
</Layout>
